#### Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt

#### Load data

In [2]:
df = pd.read_stata('DS190_Ad2013v1_Distributable/Data/Stata/Ad2013v1.dta')

In [3]:
# Select relevant columns
df_race = pd.DataFrame()
df_race['Mom'] = df['MomRace']
df_race['Dad'] = df['DadRace']
df_race['Child'] = df['ChildRace']

In [4]:
df_race.head()

     Mom    Dad  Child
0  Black  Black  Black
1  White  White  Black
2  White  White  Black
3  White  White  White
4  White  White  White

In [5]:
df_race.apply(pd.Series.value_counts)/len(df_race)*100

                          Mom        Dad      Child
99                   6.755849  29.607967   2.969886
AmInd                0.920803   0.592792   1.555090
Asian                0.620455   0.476209   0.478185
Black               17.969491   8.775292  21.277268
HawaiiPI             0.209453   0.162030   0.173886
Hispanic Origin     12.177917   8.615239  21.133022
More than One Race   0.766677   0.511777   7.228106
White               60.579355  51.258694  45.184556

#### Select rows with all data available

In [6]:
df_race_full = df_race[(df_race['Mom'] != 99) & (df_race['Dad'] != 99) & (df_race['Child'] != 99)]

In [7]:
df_race_full.apply(pd.Series.value_counts)/len(df_race_full)*100

                          Mom        Dad      Child
99                   0.000000   0.000000   0.000000
AmInd                0.902983   0.817853   1.632665
Asian                0.735764   0.681037   0.532060
Black               11.568514  12.258673  15.317260
HawaiiPI             0.237147   0.228026   0.197622
Hispanic Origin     12.027606  12.237390  21.236813
More than One Race   0.805692   0.766167   7.631267
White               73.722295  73.010854  53.452312

#### Select rows with interracial couples

In [8]:
df_race_ir = df_race_full[df_race['Mom'] != df_race['Dad']]
df_race_ir.head()
df_race_ir.apply(pd.Series.value_counts)/len(df_race_ir)*100

/usr/local/lib/python2.7/dist-packages/pandas/core/frame.py:1997: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  "DataFrame index.", UserWarning)

                          Mom        Dad      Child
White               47.639887  40.325102  33.698031
Hispanic Origin     25.351672  27.508596  31.603626
Black                9.878087  16.974054  16.380119
More than One Race   6.283214   5.876837  12.003751
AmInd                5.220381   4.345108   4.626446
Asian                4.157549   3.594873   1.031572
HawaiiPI             1.469209   1.375430   0.656455
99                   0.000000   0.000000   0.000000